body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: rgb(178, 245, 182);
    border-bottom: 3px solid rgb(14, 165, 25);
    margin-top: 10px;
    padding: 10px 0px 0px 10px;
    font-size: 16pt;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px 0px 120px;
}

h2{
    font-weight: lighter;
    margin-left: 20px;
}

.corpo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 450px;
}

.corpoTitle{
    min-width: 200px;
    max-width: 200px;
}

.caixas{
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    width: 70%;
    min-width: 700px;
    margin-left: 10px;
}

span{
    font-size: xx-large;
}
em{
    margin-top: 30pt;
}

.caixas > div{
    border: 1px solid black;
    min-width: 150px;
    max-width: 150px;
    max-height: 100px;
    margin: 5px 10px 5px 10px;
    padding-top: 20px;
    text-align: center;
}

.lateral{
    width: 26%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    text-align: justify;
    line-height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 3px solid rgb(14, 165, 25);
}

.lateral > p{
    text-indent: 2em;
}
.boxTitle{
    text-align: center;
}

footer{
    background-color: rgb(178, 245, 182);
    border-top: 3px solid rgb(14, 165, 25);
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1pt;
}