header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    max-height: 100px;
}

.listaHeader > li{
    padding: 2px;
    padding-bottom: 0;
    margin-left: 15px;
    border-bottom: 2px solid transparent;
}

.listaHeader > li:hover:not(.current){
    border-bottom: 2px dotted black;
    padding-top: 1px;
}

body{
    background-color: rgba(223, 223, 223, 0.342);
    font-family: 'Merriweather', serif;
    position: relative;
    min-height: 87vh;
    padding-bottom: 5rem;
    overflow-y: scroll;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.listaMenu{
    margin: auto;
    padding: 0;
    width: 70%;
    font-size: larger;
}

.listaMenu > *{
    padding: 5px 5px 0 5px;
    margin-right: 5px;
    border-bottom: 2px solid transparent;
}

.current > *{
    font-weight: bold;
    border-bottom: 2px groove black;
}

.linkHeader {
    text-decoration: none;
}

a{
    color: black;
}

a:not(.repo, .contato){
    text-decoration: none;
}

.corpo{
    max-width: 700px;
    margin: auto;
}

.corpoabout{
    max-width: 600px;
    margin: auto;
}

.nome{
    text-align: right;
    font-size: 48px;
    letter-spacing: 5px;
    font-family: 'Ubuntu Mono', monospace;
}

.meio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.aboutme{
    font-family: 'Balthazar', monospace;
    font-size: 20px;
    margin: 13px;
}

.foto{
    border: 2px solid black;
    margin-bottom: 40px;
    margin-top: 30px;
}

.contato{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin: 13px;
}

.linkHeader {
    text-decoration: none;
}

.titulo{
    text-align: center;
    font-size: 48px;
    letter-spacing: 6px;
    font-family: Balthazar, serif;
}

.meio{
    display: flex;
    align-items: center;
}

.paragrafos{
    text-align: justify;
    font-family: consolas;
    font-size: 18px;
    margin: 13px;
}
p:not(.ola, .top){
    text-indent: 40px;
}

.listaMenu > li:hover:not(.current){
    border-bottom: 2px dotted black;
    padding-top: 4px;
}

h2{
    text-align: center;
}

.andamento{
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.andamento > *{
    text-align: center;
    width: 220px;
    align-content: center;
    background-color:white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 7px black;
}

.andamento > *:hover{
    box-shadow: 0 0 11px black;
}

figure{
    margin: 0;
}

.livros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.livros > *{
    text-align: center;
    align-content: center;
    background-color:white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 7px black;
    display: flex;
}

.livros > *:hover{
    box-shadow: 0 0 11px black;
}

td{
    border-bottom: 1px solid grey;
    text-align: left;
    width: 200px;
}

tr:hover{
    background-color: rgba(105, 103, 103, 0.123);
}

table{
    border-collapse: collapse;
    height: fit-content;
    margin-left: 10px;
    align-self: center;
    min-width: 200px;
}

.top{
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    margin-bottom: -15px;
    border-radius: 15px;
    background-color: rgba(105, 103, 103, 0.178);
    padding: 7px;
    border: 1px solid transparent;
}

.top:hover{
    border: 1px solid black;
}

footer{
    position: absolute;
    bottom: 0;
    right: 10%;
    left: 10%;
    padding-top: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 11pt;
    border-top: 1px solid gray;
}